@font-face {
  font-family: 'Nintendos'; /*a name to be used later*/
  src: url('/public/Nintendo-DS-BIOS.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'RevMiniPixel'; /*a name to be used later*/
  src: url('/public/RevMiniPixel.ttf'); /*URL to font*/
}

body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
background: rgba(92, 92, 92, 1); }

#form { background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0;
      right: 0; 
      display: flex;
      height: 25%;
        box-sizing: border-box;
        backdrop-filter: blur(10px); 
      }

#setPassword{    
  top: 0px;
  left: 960px;
  position: absolute;
}

#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; pointer-events: auto;}
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

canvas {
  /* Set border black */
  border: 1px solid black;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem; */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
}

h1 {
  background: #2c2c2c;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 70px;
  background-color: #202020;
}

#toolbar * {
margin-bottom: 6px;
}

#toolbar label {
font-size: 12px;
}

#toolbar input {
width: 100%;
}

#toolbar button {
background-color: #1565c0;
border: none;
border-radius: 4px;
color:white;
padding: 2px;
}

textarea{
  pointer-events:auto;
}

#sendbutton{
  pointer-events:auto;

}

p{
  color:black;
}

.roombutton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid black;
  height: 25vh;
  width: 70%;
  background-image: linear-gradient(#fbfdfb, #d3d3d2);
}

#chooseRoom{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cube{
  /* display: inline-block; */
  display: flex;
  background-color: red;
  width: 25vh;
  height: 100%;
  align-items: center;
  justify-content: space-around;
 
}

.cube > h1{
  text-align: center;
  margin: 0;
  font-size: 200px;
  font-family: RevMiniPixel;
  padding-top: 35px;
  padding-left: 20px;
  
}


.rectangle{
  background-color: red;
  width: 40vh;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallcube{
  display: inline-block;
  background-color: red;
  width: 18vh;
  height: 75%;
  margin-right: 20px;
}

.chatroomtitle{
  font-family: Nintendos;
  font-size: 100px;
  font-weight: 100;
}

.roomsize{
  margin: 0;
  font-family: Nintendos;
  font-size: 100px;
  font-weight: 100;
  margin-right: 90px;

}

.pen{
  /* transform: rotate(315deg); */
  width: 90px;
}